html {
  margin: 0px;
  height: 100%;
  width: 100%;
}

body {
  /* display: flex;
  flex-direction: column; */

  margin: 0px;
  min-width: 100%;
  min-height: 100%;
  background-image: url(./WOW.gif);
  background-size: contain;
  color: white;
}
header {
  justify-self: start;
  display: flex;
  justify-content: center;
  align-items: center;

  -webkit-text-stroke: white 2px;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  font-size: 80px;
}
#healthContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
#healthDisplay {
  margin-top: 10%;
  border: 1px solid white;
  height: 20px;
  width: 500px;
}
#game-screen {
  position: relative;
  margin-top: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#start {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

  height: 480px;
  width: 640px;
  background-color: black;
  border: 1px solid blue;
}
#canvas {
  position: absolute;
  border: 1px solid blue;
  display: block;
  margin: 0 auto;
  background: rgba(218, 231, 255, 0.85);
}
