html {
  margin: 0px;
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  justify-content: stretch;

  margin: 0px;
  width: 100%;
  height: 100%;
  background-image: url(./WOW.gif);
  background-size: contain;
  color: white;
}

/* First Flexbox//////////////////////////////////////////////////////////////////// */
#fbOne {
  display: flex;
  flex-direction: column;
  height: 40%;
}
/* Title */
header {
  justify-self: start;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  -webkit-text-stroke: white 2px;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  font-size: 80px;
  height: 50%;
}
/* Health Bar */
#healthContainer {
  /* align-self: stretch; */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 50%;
}
#healthDisplay {
  display: grid;
  grid-template-columns: 3 1fr;
  margin-bottom: 20px;
  border: 1px solid white;
  height: 20px;
  width: 500px;
}
#firstHealth {
  grid-row: 1/2;
  background-color: green;
  transition: 4s;
}
#secondHealth {
  grid-row: 2/3;
  background-color: green;
  transition: 4s;
}
#thirdHealth {
  grid-row: 3/4;
  background-color: green;
  transition: 4s;
}

/* Second FlexBox////////////////////////////////////////////////////////////////////// */
#fbTwo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  height: 60%;
  width: 100%;
}
/* Score Display */
#scores {
  width: 25%;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* Game Screen */
#game-screen {
  align-self: flex-end;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
  height: 100%;
}
/* Player Messages Screens */
.message {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;

  height: 480px;
  width: 640px;
  background-color: rgba(0, 0, 0, 0.863);
  border: 1px solid rgb(0, 0, 255);
}
.message > h1 {
  font-size: 50px;
  margin: 0;
}
.message > p {
  font-size: 18px;
}
#niceJob {
  display: none;
}
#gameOver {
  display: none;
}
#start {
  display: none;
}
#canvas {
  position: absolute;
  border: 1px solid blue;
  display: block;
  background: rgba(218, 231, 255, 0.85);
}
#canvasTwo {
  position: absolute;
  border: 1px solid blue;
  display: none;
  background: rgba(218, 231, 255, 0.85);
}

/* Levels */
#levels {
  width: 25%;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
